---
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: collect-simple-signing-params
  annotations:
    tekton.dev/tags: release
spec:
  description: |-
    Task to collect parameters for the simple signing pipeline
  params:
    - name: config_map_name
      description: Name of a configmap with pipeline configuration
      type: string
    - name: caTrustConfigMapName
      type: string
      description: The name of the ConfigMap to read CA bundle data from
      default: trusted-ca
    - name: caTrustConfigMapKey
      type: string
      description: The name of the key in the ConfigMap that contains the CA bundle data
      default: ca-bundle.crt
  results:
    - name: pyxis_url
      description: Container API URL based for selected environment
    - name: sig_key_names
      description: NL separated signing key names that index image claims are signed with
    - name: umb_url
      description: umb host to connect to for messaging, e.g. for signing
    - name: umb_listen_topic
      description: umb topic which is used for listening
    - name: umb_batch_listen_topic
      description: umb topic which is used for listening
    - name: umb_publish_topic
      description: umb topic which is used for publishing
    - name: umb_batch_publish_topic
      description: umb topic which is used for publishing
    - name: umb_client_name
      description: Client name to connect to umb, usually a service account name
    - name: pyxis_ssl_cert_secret_name
      description: Pyxis SSL secret name
    - name: pyxis_ssl_cert_file_name
      description: Pyxis SSL certificate file name
    - name: pyxis_ssl_key_file_name
      description: Pyxis SSL key file name
    - name: umb_ssl_cert_secret_name
      description: UMB SSL secret name
    - name: umb_ssl_cert_file_name
      description: UMB SSL certificate file name
    - name: umb_ssl_key_file_name
      description: UMB SSL key file name
    - name: signer_type
      description: Signer type, e.g. simple or batch
  volumes:
    - name: trusted-ca
      configMap:
        name: $(params.caTrustConfigMapName)
        items:
          - key: $(params.caTrustConfigMapKey)
            path: ca-bundle.crt
        optional: true
  stepTemplate:
    volumeMounts:
      - name: trusted-ca
        mountPath: /mnt/trusted-ca
        readOnly: true
    securityContext:
      runAsUser: 1001
  steps:
    - name: collect-simple-signing-params
      image: quay.io/konflux-ci/release-service-utils@sha256:454e457cdadd5892b31fe2b7d4911b3d3a761f5705bb0cd30f864be0a597594b
      computeResources:
        limits:
          memory: 64Mi
        requests:
          memory: 64Mi
          cpu: 25m
      env:
        - name: config_map_name
          value: $(params.config_map_name)
      script: |
        #!/bin/bash
        set -ex

        configMapJson=$(kubectl get "cm/${config_map_name:?}" -ojson)
        PYXIS_URL=$(jq -er '.data.PYXIS_URL' <<< "${configMapJson}")
        jqquery='.data|if has ("SIG_KEY_NAMES")
        then (.SIG_KEY_NAMES|split(",")|.[]|gsub("^\\s+|\\s+$";"")) else .SIG_KEY_NAME end'
        SIG_KEY_NAMES=$(jq -er "$jqquery" <<< "${configMapJson}")
        PYXIS_SSL_CERT_FILE_NAME=$(jq -er '.data.PYXIS_SSL_CERT_FILE_NAME' <<< "${configMapJson}")
        PYXIS_SSL_CERT_SECRET_NAME=$(jq -er '.data.PYXIS_SSL_CERT_SECRET_NAME' <<< "${configMapJson}")
        PYXIS_SSL_KEY_FILE_NAME=$(jq -er '.data.PYXIS_SSL_KEY_FILE_NAME' <<< "${configMapJson}")
        UMB_CLIENT_NAME=$(jq -er '.data.UMB_CLIENT_NAME' <<< "${configMapJson}")
        UMB_LISTEN_TOPIC=$(jq -er '.data.UMB_LISTEN_TOPIC' <<< "${configMapJson}")
        UMB_BATCH_LISTEN_TOPIC=$(jq -er '.data.UMB_BATCH_LISTEN_TOPIC //
        .data.UMB_LISTEN_TOPIC' <<< "${configMapJson}")
        UMB_PUBLISH_TOPIC=$(jq -er '.data.UMB_PUBLISH_TOPIC' <<< "${configMapJson}")
        UMB_BATCH_PUBLISH_TOPIC=$(jq -er '.data.UMB_BATCH_PUBLISH_TOPIC //
        .data.UMB_PUBLISH_TOPIC' <<< "${configMapJson}")
        UMB_URL=$(jq -er '.data.UMB_URL' <<< "${configMapJson}")
        UMB_SSL_CERT_FILE_NAME=$(jq -er '.data.UMB_SSL_CERT_FILE_NAME' <<< "${configMapJson}")
        UMB_SSL_CERT_SECRET_NAME=$(jq -er '.data.UMB_SSL_CERT_SECRET_NAME' <<< "${configMapJson}")
        UMB_SSL_KEY_FILE_NAME=$(jq -er '.data.UMB_SSL_KEY_FILE_NAME' <<< "${configMapJson}")
        SIGNER_TYPE=$(jq -er '.data.SIGNER_TYPE // "single"' <<< "${configMapJson}")

        echo -n "$PYXIS_URL" | tee "$(results.pyxis_url.path)"
        echo -n "$SIG_KEY_NAMES" | tee "$(results.sig_key_names.path)"
        echo -n "$PYXIS_SSL_CERT_FILE_NAME" | tee "$(results.pyxis_ssl_cert_file_name.path)"
        echo -n "$PYXIS_SSL_CERT_SECRET_NAME" | tee "$(results.pyxis_ssl_cert_secret_name.path)"
        echo -n "$PYXIS_SSL_KEY_FILE_NAME" | tee "$(results.pyxis_ssl_key_file_name.path)"
        echo -n "$UMB_CLIENT_NAME" | tee "$(results.umb_client_name.path)"
        echo -n "$UMB_LISTEN_TOPIC" | tee "$(results.umb_listen_topic.path)"
        echo -n "$UMB_BATCH_LISTEN_TOPIC" | tee "$(results.umb_batch_listen_topic.path)"
        echo -n "$UMB_PUBLISH_TOPIC" | tee "$(results.umb_publish_topic.path)"
        echo -n "$UMB_BATCH_PUBLISH_TOPIC" | tee "$(results.umb_batch_publish_topic.path)"
        echo -n "$UMB_URL" | tee "$(results.umb_url.path)"
        echo -n "$UMB_SSL_CERT_FILE_NAME" | tee "$(results.umb_ssl_cert_file_name.path)"
        echo -n "$UMB_SSL_CERT_SECRET_NAME" | tee "$(results.umb_ssl_cert_secret_name.path)"
        echo -n "$UMB_SSL_KEY_FILE_NAME" | tee "$(results.umb_ssl_key_file_name.path)"
        echo -n "$SIGNER_TYPE" | tee "$(results.signer_type.path)"
