---
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: check-embargoed-cves-task
  annotations:
    tekton.dev/pipelines.minVersion: "0.12.1"
    tekton.dev/tags: release
spec:
  description: |
      Checks if any passed CVEs are embargoed.
      The task will always exit 0 even if something fails. This is because the task result will not be
      set if the task fails, and the task result should always be set and propagated back to the cluster
      that creates the internal request. The success/failure is handled in the task creating the internal
      request.
  params:
    - name: cves
      type: string
      description: |
          String containing a space separated list of CVEs to check (e.g. 'CVE-123 CVE-234 CVE-345')
    - name: caTrustConfigMapName
      type: string
      description: The name of the ConfigMap to read CA bundle data from
      default: trusted-ca
    - name: caTrustConfigMapKey
      type: string
      description: The name of the key in the ConfigMap that contains the CA bundle data
      default: ca-bundle.crt
  results:
    - name: result
      description: Success if the task succeeds, the error otherwise
    - name: embargoed_cves
      description: Space separated string of embargoed CVEs if any are found, empty string otherwise
  volumes:
    - name: osidb-service-account-vol
      secret:
        secretName: osidb-service-account
        defaultMode: 0444
    - name: trusted-ca
      configMap:
        name: $(params.caTrustConfigMapName)
        items:
          - key: $(params.caTrustConfigMapKey)
            path: ca-bundle.crt
        optional: true
  stepTemplate:
    volumeMounts:
      - name: trusted-ca
        mountPath: /mnt/trusted-ca
        readOnly: true
    securityContext:
      runAsUser: 1001
  steps:
    - name: check-embargoed-cves
      image: quay.io/konflux-ci/release-service-utils@sha256:454e457cdadd5892b31fe2b7d4911b3d3a761f5705bb0cd30f864be0a597594b
      computeResources:
        limits:
          memory: 32Mi
        requests:
          memory: 32Mi
          cpu: 20m
      volumeMounts:
        - name: osidb-service-account-vol
          mountPath: /mnt/osidb-service-account
      env:
        - name: RESULT_RESULT
          value: $(results.result.path)
        - name: RESULT_EMBARGOED_CVES
          value: $(results.embargoed_cves.path)
      command: ["/home/scripts/bash/tasks/internal/check-embargoed-cves.sh"]
      args:
        - --cves
        - $(params.cves)
