---
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: prepare-and-finalize-artifacts
  annotations:
    tekton.dev/pipelines.minVersion: "0.12.1"
    tekton.dev/tags: release
spec:
  description: >-
    Task to prepare the workspace by selecting the correct input artifact and create a final trusted artifact.
  params:
    - name: ociStorage
      description: The OCI repository where the Trusted Artifacts are stored
      type: string
      default: "empty"
    - name: ociArtifactExpiresAfter
      description: >-
        Expiration date for the trusted artifacts created in the OCI repository.
        An empty string means the artifacts do not expire
      type: string
      default: "1d"
    - name: trustedArtifactsDebug
      description: Flag to enable debug logging in trusted artifacts. Set to a non-empty string to enable
      type: string
      default: ""
    - name: orasOptions
      description: oras options to pass to Trusted Artifacts calls
      type: string
      default: ""
    - name: baseDataArtifact
      type: string
      description: Location of trusted artifact from sign task
      default: ""
    - name: rpmDataArtifact
      type: string
      description: Location of trusted artifact from optional build-rpms task
      default: ""
    - name: dataDir
      description: The location where data will be stored
      type: string
      default: /var/workdir/release
    - name: taskGitUrl
      type: string
      description: The git repository URL for task and StepAction resolution
      default: https://github.com/konflux-ci/release-service-catalog.git
    - name: taskGitRevision
      type: string
      description: The git revision for task and StepAction resolution
      default: main
  results:
    - name: sourceDataArtifact
      type: string
      description: Produced trusted data artifact
  volumes:
    - name: workdir
      emptyDir: {}
  stepTemplate:
    volumeMounts:
      - mountPath: /var/workdir
        name: workdir
    env:
      - name: IMAGE_EXPIRES_AFTER
        value: $(params.ociArtifactExpiresAfter)
      - name: ORAS_OPTIONS
        value: $(params.orasOptions)
      - name: DEBUG
        value: $(params.trustedArtifactsDebug)
  steps:
    - name: select-and-download-artifact
      image: quay.io/konflux-ci/release-service-utils:0f82be4be43294b6a96846d87ef7f7c0b9e34267
      computeResources:
        limits:
          memory: 64Mi
        requests:
          memory: 64Mi
          cpu: 30m
      script: |
        #!/usr/bin/env bash
        set -euxo pipefail

        if [ -n "$(params.rpmDataArtifact)" ]; then
          ARTIFACT_TO_PULL_WITH_PREFIX="$(params.rpmDataArtifact)"
        else
          ARTIFACT_TO_PULL_WITH_PREFIX="$(params.baseDataArtifact)"
        fi
        ARTIFACT_TO_PULL="${ARTIFACT_TO_PULL_WITH_PREFIX#oci:}"
        
        mkdir -p "$(params.dataDir)"
        oras pull -o "$(params.dataDir)" "${ARTIFACT_TO_PULL}"

    - name: create-trusted-artifact
      computeResources:
        limits:
          memory: 128Mi
        requests:
          memory: 128Mi
          cpu: 250m
      ref:
        resolver: "git"
        params:
          - name: url
            value: $(params.taskGitUrl)
          - name: revision
            value: $(params.taskGitRevision)
          - name: pathInRepo
            value: stepactions/create-trusted-artifact/create-trusted-artifact.yaml
      params:
        - name: ociStorage
          value: $(params.ociStorage)
        - name: workDir
          value: $(params.dataDir)
        - name: sourceDataArtifact
          value: $(results.sourceDataArtifact.path)
