---
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: publish-to-mrrc
  annotations:
    tekton.dev/pipelines.minVersion: "0.12.1"
    tekton.dev/tags: release
spec:
  params:
    - name: mrrcParamFilePath
      description: path of the env file for mrrc parameters to use
      type: string
    - name: charonConfigFilePath
      description: path of the charon config file for charon to consume
      type: string
    - name: charonAWSSecret
      description: the secret name for charon aws credential file
      type: string
  steps:
    - name: prepare-repo
      image: quay.io/konflux-ci/release-service-utils:4576e1e2a30439129cb69c8a4f39f7ced2d44376
      computeResources:
        limits:
          memory: 256Mi
        requests:
          memory: 256Mi
          cpu: 150m
      script: |
        #!/usr/bin/env bash
        set -eux

        MRRC_FILE="$(workspaces.data.path)/$(params.mrrcParamFilePath)"
        # shellcheck source=/dev/null
        . "$MRRC_FILE"
        mkdir -p /workdir/mrrc
        cd /workdir/mrrc

        IFS='%' read -ra ADDR <<< "$MRRC_ZIP_REGISTRY"
        for r in "${ADDR[@]}"
        do
          echo "Downloading the maven repo zip $r"
          SOURCE_REPO=${r%%@sha256:*}
          AUTH_FILE=$(mktemp)
          registry=$(echo "${SOURCE_REPO}" | cut -d '/' -f 1)
          if [ "$registry" = "docker.io" ]; then
            # For docker.io, the auth key will always be https://index.docker.io/v1/
            select-oci-auth "${SOURCE_REPO}" > "$AUTH_FILE"
          else
            # For other registries, the auth key will be modified to the full repository path, so that
            # we can create a combined auth file with source and destination entries for `cosign copy` later
            select-oci-auth "${SOURCE_REPO}" | jq -c \
              '.auths."'"${SOURCE_REPO}"'" = .auths."'"$registry"'" | del(.auths."'"$registry"'")' > "$AUTH_FILE"
          fi
          oras pull --registry-config "$AUTH_FILE" "$r" -o /workdir/mrrc
        done
      volumeMounts:
        - name: workdir
          mountPath: "/workdir"
    - name: upload-maven-repo
      image: quay.io/konflux-ci/charon@sha256:95b22f4f0fc1d6bb984a2f63334c3f66a539e433d79cde4eafa7731d8924377f
      computeResources:
        limits:
          memory: 512Mi
        requests:
          memory: 512Mi
          cpu: 250m
      script: |
        #!/usr/bin/env bash
        set -eux

        CHARON_CFG_FILE="$(workspaces.data.path)/$(params.charonConfigFilePath)"
        mkdir -p "/home/charon/.charon"
        cp "$CHARON_CFG_FILE" /home/charon/.charon/charon.yaml

        ls -al /home/charon/.aws
        cat /home/charon/.aws/credentials

        MRRC_FILE="$(workspaces.data.path)/$(params.mrrcParamFilePath)"
        # shellcheck source=/dev/null
        . "$MRRC_FILE"

        target=$MRRC_TARGET
        productName=$MRRC_PRODUCT_NAME
        productVersion=$MRRC_PRODUCT_VERSION

        work_dir="/workdir/mrrc"
        # Disable shell check sc2012 as find command is not installed
        # shellcheck disable=SC2012
        for r in $(ls "$work_dir"/*.zip | cat)
        do
          echo "Release $r with $productName-$productVersion into $target"
          charon upload -p "$productName" -v "$productVersion" -t "$target" "$r"
        done
      volumeMounts:
        - name: "charon-aws-vol"
          mountPath: "/home/charon/.aws"
        - name: workdir
          mountPath: "/workdir"
  volumes:
    - name: "charon-aws-vol"
      secret:
        secretName: "$(params.charonAWSSecret)"
    - name: workdir
      emptyDir: {}
  workspaces:
    - name: data
